# Local MongoDB (replace your_password with the password you set during db.createUser)
# MONGO_URI=mongodb://app_user:your_password@localhost:27017/vibetalk?authSource=vibetalk
# Cloud MongoDB Atlas example:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/vibetalk
MONGO_URI=your_mongodb_uri
JWT_SECRET=your_jwt_secret
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret